.App {
  text-align: center;
  /*Probably adding Montserrat fontstyle to some parts of the body*/
}

.app-main-screen {
  display: flex;
}

.secondary-screen {
  width: 50%;
  height: 100vh;
  background-color: rgb(255, 255, 255);
  position: relative;
  left: 50%;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  z-index: 1;
}
/*Intro part wont move will stay fixed*/
.self-part {
  background-image: url(./PorfolioImages/sea.jpg);
  background-size: cover;
  background-position: center;
  width: 50%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  position: fixed;
  z-index: 2;
  /*border-top-right-radius: 12px;
  border-bottom-right-radius: 12px;
  box-shadow: 0px 0px 15px 0px rgba(0, 0, 0, 0.75);*/
  color: rgba(30, 143, 255, 0.288);
  overflow: hidden;
}

/*self image no background main screen !ToFIX*/
.self-portrait {
  background-image: url(./PorfolioImages/no-background-big-touched.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  position: absolute;
  opacity: 0.85;
  height: 100vh;
  width: 100%;
}

.intro-text {
  position: relative;
}

#nav-item {
  border: solid 2 black;
  width: 10%;
  text-align: center;
  cursor: pointer;
  font-size: 18px;
  color: dodgerblue;
  /*border-bottom: solid 2px rgba(255, 255, 255, 0);*/
  text-decoration: none;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 15px;
  padding: 5px;
  transition: all cubic-bezier(0.68, -0.80, 0.265, 1.55) 0.3s;
  font-weight: bold;
}

#nav-item:hover {
  /*border-bottom: solid 2px dodgerblue;*/
  transform: scale(1.05)
}

/*CONTACT FORM*/

#sendbutton {
  -webkit-appearance: none;
  padding: 10px;
  outline: none;
  color: white;
  border-radius: 18px;
  background-color: dodgerblue;
  border: none;
  cursor: pointer;

  /*padding: 10,
    outline: "none",
    borderRadius: 18,
    color: "white",
    backgroundColor: "dodgerblue",
    border: "none",
    cursor: "pointer",*/
}
